{% extends 'main.html' %}

{% block titulo_apartado %} Añadir amigo/s {% endblock %}

{% block contenido %}

    <form id="formulario" method ="post" enctype="multipart/form-data" action="">{% csrf_token %}
        <table>
            {{formulario}}
        </table>
        <br/>
        <p><input type="submit" value="Buscar"></p>
    </form>

{% if searched_users %}
    <h3>Usuarios encontrados</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Gestionar amigo</th>
        </tr>
      </thead>
      <tbody>
        {% for searched_user in searched_users %}
          <tr>
            <td>{{ searched_user.user_name }}</td>
            <td>{{ searched_user.name }}</td>
            <td>{{ searched_user.email }}</td>
            <td>
                <a href ={% url add_friend searched_user.id  %} class='btn btn-primary'>
                        Añadir amigo
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}


{% if searched_users.has_other_pages %}
  <ul class="pagination">
    {% if searched_users.has_previous %}
      <li><a href="?page2={{ searched_users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in searched_users.paginator.page_range %}
      {% if searched_users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page2={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if searched_users.has_next %}
      <li><a href="?page2={{ searched_users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% if users %}
    <h3>Usuarios del sistema a añadir</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Gestionar amigo</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.user_name }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href ={% url add_friend user.id  %} class='btn btn-primary'>
                        Añadir amigo
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}

{% if not users %}
    No hay amigos que añadir. Tiene como amigos a todos los usuarios del sistema
{% endif %}

{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page1={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page1={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page1={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{% endblock %}