{% extends 'main.html' %}

{% block titulo_apartado %}
  <div class="page-header">
      <h1>Últimas noticias
          <small>
              encontraras las últimas novedades deportivas
          </small>
      </h1>
  </div> {% endblock %}

{% block contenido %}
    {% if request.user.is_staff %}
        <div class="alert alert-warning">
            <strong>¡Cuidado!</strong> Acceso con cuenta administrador
        </div>
    {% endif %}
    {% if good_create %}
        <div class="alert alert-success">Cuenta creada correctamente</div>
        <br/>
        <br/>
    {% endif %}

    {% if news %}

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Titular</th>
              <th>Fecha</th>
              <th>Equipo</th>
              <th>Deporte</th>
              <th>Fuente</th>
              <th>Gestionar</th>
            </tr>
          </thead>
          <tbody>
            {% for new in news %}
              <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.moment|date:'d-m-Y' }}</td>
                <td><img src="{{ new.team.image }}" height="50" width="50"/> &nbsp;&nbsp;{{ new.team.name }}</td>
                <td>{{ new.team.sport.name }}</td>
                <td>
                    {% if "marca" in new.url and "estadiodeportivo" not in new.url%}
                        Marca
                    {% endif %}
                    {% if "as" in new.url and "marca" not in new.url and "estadiodeportivo" not in new.url%}
                        As
                    {% endif %}
                    {% if "estadiodeportivo" in new.url %}
                        Estadio Deportivo
                    {% endif %}
                </td>
                <td>
                     <a href ={% url watch_new new.id  %} class='btn btn-primary'>
                            Ver noticia
                     </a>
                    {% if request.user.is_authenticated and not request.user.is_staff%}
                        {% if new not in usuario.favourite_notices.all %}
                            <br/><br/>
                             <a href ={% url add_favourite new.id  %} class='btn btn-primary'>
                                    Añadir a favoritos
                         </a>
                        {% endif %}
                    {% endif %}

                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}

    {% if news.has_other_pages %}
      <ul class="pagination">
        {% if news.has_previous %}
          <li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in news.paginator.page_range %}
          {% if news.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if news.has_next %}
          <li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock %}