{% extends 'main.html' %}

{% block titulo_apartado %} Login {% endblock %}

{% block contenido %}

    {% if bad_login %}
        <div class="alert alert-warning">
            <strong>Ha ocurrido un error</strong> Asegúrese que ha introducido correctamente las credenciales de usuario.
        </div>
    {% endif %}

    <form id="formulario" method ="post" enctype="multipart/form-data" action="">{% csrf_token %}
        <table>
            {{formulario}}
           
        </table>

        <p><input type="submit" value="Ingresar"></p>
    </form>

    <a href="/create_account/">No tengo cuenta de usuario</a>

{% endblock %}