{% extends 'main.html' %}

{% block titulo_apartado %} Gestión del perfil {% endblock %}

{% block contenido %}

{% if team_add_good %}
    <div class="alert alert-success">Equipo añadido correctamente</div>
{% endif %}

{% if team_delete_good %}
    <div class="alert alert-success">Equipo eliminado correctamente</div>
{% endif %}

{% if friend_add_good %}
    <div class="alert alert-success">Amigo añadido correctamente</div>
{% endif %}

{% if friend_delete_good %}
    <div class="alert alert-success">Amigo eliminado correctamente</div>
{% endif %}

<p><strong><h2>Lista de amigos</h2></strong></p>
{% if friends %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Gestionar</th>
    </tr>
  </thead>
  <tbody>
    {% for friend in friends %}
      <tr>
        <td>{{ friend.user_name }}</td>
        <td>{{ friend.name }}</td>
        <td>{{ friend.email }}</td>
        <td>
             <a href ={% url delete_friend friend.id  %} class='btn btn-primary'>
                    Eliminar
             </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if friends.has_other_pages %}
  <ul class="pagination">
    {% if friends.has_previous %}
      <li><a href="?page1={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in friends.paginator.page_range %}
      {% if friends.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page1={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if friends.has_next %}
      <li><a href="?page1={{ friends.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% if not friends %}
    No tiene amigos.
    <br/>
{% endif %}

<a href="/list_users/">Añadir amigos</a>

<br/>
<p><strong><h2>Lista de equipos favoritos</h2></strong></p>
{% if teams %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Equipo</th>
      <th>País</th>
      <th>Gestionar</th>
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
      <tr>
        <td><img src="{{ team.image }}" height="3%" width="3%"/>{{ team.name }} ({{ team.sport.name }})</td>
        <td>{{ team.country }}</td>
        <td>
             <a href ={% url delete_team team.id  %} class='btn btn-primary'>
                        Eliminar
             </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if teams.has_other_pages %}
  <ul class="pagination">
    {% if teams.has_previous %}
      <li><a href="?page2={{ teams.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in teams.paginator.page_range %}
      {% if teams.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page2={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if teams.has_next %}
      <li><a href="?page2={{ teams.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% if not teams %}
    No tiene equipos favoritos.
    <br/>

{% endif %}

<br/>
<a href="/select_sports/">Añadir equipos</a>


{% endblock %}